---
layout: pageWithTitle.njk
section: blog
permalink: /blog/index.html
---
{# Article List #}
{% from "macros/articlelist.njk" import articlelist %}
{{ articlelist(
  articles = pagination.items | reverse,
  show_tags = true
) }}

{# Pagination #}
{% include 'partials/pagination.njk' %}
